#container {
    display: flex;
    align-items: center;
    background: radial-gradient(circle at 0% 50%, rgba(255, 0, 0, 0.239) 35%, rgba(255, 255, 255, 0.9) 0%);
}

#tarjeta {
    display: flex;
    align-items: center;
    border-radius: 30px;
    width: 95%;
    font-size: large;
    padding: 5px;
    gap: 1rem;
}

#tarjeta:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
    color: #000;
    filter: brightness(1.2);
    overflow: none;
}