<header>
  <div id="titulo">
    <h1><strong>POKEMÓN</strong></h1>
  </div>
  <div id="pokemonheader">
    <button class="btn primary" (click)="desplegarTarjetas()">Selecciona</button>
    <span>V. 1.0</span>
  </div>
</header>
<app-home [bodesplegarTarjetas]="bodesplegarTarjetas"></app-home>
<footer>
  <div class="seccionuno">
    <h2>Work in progress</h2>
  </div>
  <div class="secciondos">
    <ion-icon name="logo-angular"></ion-icon>
    <ion-icon name="logo-html5"></ion-icon>
    <ion-icon name="logo-css3"></ion-icon>
    <ion-icon name="logo-javascript"></ion-icon>
  </div>
</footer>
<router-outlet></router-outlet>