.container {
    height: calc(100vh - 120px);
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

app-foto-pokemon {
    margin-left: 250px;
}

#tarjetasContainer {
    max-height: 100%;
    overflow-y: scroll;
    border: 1px solid #575259;
    border-radius: 10px;
    background: #C3B6F2;
    padding-left: 10px;
}

// app-detalle {
//     position: absolute;
//     z-index: 1;
//     left: -90vw;
//     transition: 0.5s;
//     transition-timing-function: ease-in-out;

//     &.abierto {
//         left: 0;
//     }
// }