#home {
    display: grid;
    height: 80vh;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 100px;
        color: rgba(255, 0, 0, 0.726);
        margin: 0;
    }

    span {
        font-size: 50px;
        color: rgba(0, 0, 0, 0.726);
        margin: 0;
    }
}

.container,
.containerwot {
    height: calc(100vh - 120px);
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.containerwot {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

#tarjetasContainer {
    max-height: 100%;
    overflow-y: scroll;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.239);
    padding-left: 10px;
    margin-top: 10px;
}