<div class="container">
    <app-foto-pokemon [pokemon]="pokemonSeleccionado" [pokemonSpecies]="pokemonSpecies"
        [pokemonDescripcion]="pokemonDescripcion"></app-foto-pokemon>
    <div id="tarjetasContainer" (scroll)="onScroll($event)" #tarjetas>
        <app-tarjeta-pokemon *ngFor="let pokemon of listaPokemon" [data]="pokemon"
            (selectPokemon)="tarjetaSeleccionada($event)"></app-tarjeta-pokemon>
    </div>
</div>

<app-detalle-pokemon [pokemonEvolutionChain]="pokemonEvolutionChain" [pokemon]="pokemonSeleccionado" [pokemonSpecies]="pokemonSpecies"></app-detalle-pokemon>