/* You can add global styles to this file, and also import other style files */

:coloruno{
    color: #9F84D9,
}

:colordos{
    color: #C3B6F2,
}

:colortres{
    color: #D6CEF2,
}

:colorcuatro{
    color: #A68FC7,
}

:colorcinco{
    color: #575259,
}

body{
    margin: 0;
}

