<div id="principal"  *ngIf="boMostrarInfo" [@fadeInOut]>
    <div id="p-left">
        <div class="info">
            <h2 [ngClass]="colorClass">Id Pokemon</h2>
            <span>{{pokemonDetail?.id}}</span>
        </div>
        <div class="info">
            <h2 [ngClass]="colorClass">Generation</h2>
            <span>{{generacion}}</span>
        </div>
        <div class="info">
            <h2 [ngClass]="colorClass">Category</h2>
            <span>{{genusPokemon}}</span>
        </div>
    </div>
    <div id="p-center">
        <div>
            <h1 [ngClass]="colorClass">{{pokemonDetail?.name | uppercase}}</h1>
        </div>
        <img src="{{pokemonDetail?.sprites?.front_default}}" alt="">
        <div class="card" >
            <div class="info">
                <h2 [ngClass]="colorClass">Description</h2>
                <span>{{descriptionPokemon}}</span>
            </div>
        </div>
        <!-- <button class="btn primary">Detalle</button> -->
    </div>
    <div id="p-right">
        <canvas baseChart class="chart" [data]="radarChartData" [options]="radarChartOptions" [type]="radarChartType">
        </canvas>
    </div>
</div>